menu "App config"

config GOLBAL_CONFIG_FILENAME
	string "Golbal Config FileName"
	default "config.json"


menuconfig WIFI_NETWORK
	bool "Enable WIFI network"
	default y

if  WIFI_NETWORK

source "$(PROJECT_PATH)/main/wifinetwork.Kconfig"

endif

menuconfig WIFI_MESH_NETWORK
	bool "Enable WIFI mesh network"
	default y
	depends on !WIFI_NETWORK

if WIFI_MESH_NETWORK

source "$(PROJECT_PATH)/main/wifimeshnet.Kconfig"

endif

menuconfig ETHERNET_NETWORK
        bool "Enable ethernet network"
        default n

if ETHERNET_NETWORK

source "$(PROJECT_PATH)/main/ethernet.Kconfig"

endif


menu "Network Protocols"

config LWIP_TFTPD_ON_BOOT
        bool "Start TFTPD  On Boot"
        default y
	depends on WIFI_MESH_NETWORK ||  WIFI_NETWORK

menuconfig NETWORK_PROTOCAL_MQTT
	bool "MQTT Client"
	default y
	depends on WIFI_MESH_NETWORK ||  WIFI_NETWORK

if  NETWORK_PROTOCAL_MQTT

source "$(PROJECT_PATH)/main/mqtt.Kconfig"

endif


endmenu

endmenu
