menu "App config"

config GOLBAL_CONFIG_FILENAME
	string "Golbal Config FileName"
	default "config.json"

config LWIP_TFTPD_ON_BOOT
        bool "Start TFTPD  On Boot"
	default y

menuconfig WIFI_NETWORK
	bool "Enable WIFI network"
	default y

if  WIFI_NETWORK

source "$(PROJECT_PATH)/main/wifinetwork.Kconfig"

endif

endmenu
